@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{ 
    box-sizing: border-box;
    margin: 0;
    border: 0;
   }
   
   body{
    font-family: "Inter", sans-serif;
   }
   /* banner part css start */
   .banner-container{
    width: 1318px;
    height: 596px;
    border: 2px solid red;
    margin: 0 auto;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 55px;
   }
   .banner-content{
    width: 913px;
    height: 532px;
    border: 2px solid red;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
   }
   .banner-content img{
    width: 220px;
    height: 219px;
   }
   .banner-btn{
    color: white;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 15px 18px 15px 18px;
   }
   .banner-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;

   }
   /* web-development-part-start */
   .web-development-container{
    width: 1043px;
    height: 1276px;
    padding: 30px;
    border: 2px solid red;
    margin: 0 auto;
    margin-bottom: 55px;
   }
   .web-development-content{
    width: 892px;
    height: 1130px;
    border: 2px solid red;
    margin: 25px auto;
   }
  .sec-0 h3{
    margin-bottom: 20px;
    text-align: center;
   }
  .sec-0 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: center;
   }
   .sec-1{
    width: 865px;
    height: 307px;
    border: 2px solid green;
    margin: 0 auto;
    display: flex;
    margin-top: 35px;
    padding: 70px;
    margin-bottom: 15px;
    
    
   }
   .left-sec{
    width: 65%;
    height: 128px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    gap: 15px;
    align-items: flex-start;
   }
   
  
    .right-sec{
        width: 30%;
        height: 128px;
        border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .right-sec img{
        width: 236px;
        height: 198px;
  }

  .left-sec-btn{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    }

    /* my inspiration css start */
   .my-inspiration{
   width: 1043px;
   height: 709px;
   border: 2px solid red;
   margin: 0 auto;
   margin-bottom: 50px;
}
.my-inspiration-content{
    width: 779px;
    height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 136px;
    gap: 15px;
}
.my-inspiration-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
}
.video{
    width: 994px;
    height: 503px;
    margin: 0 auto;
    margin-top: 55px;
    padding: 0 60px;
}